pipeline/foreach-pipeline_cancelOnFailure.json
{
	"name": "foreach-pipeline_cancelOnFailure",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.listArray",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait For Some Seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Cancel Pipeline Run",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait For Some Seconds",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/ef3a1634-d332-458d-9cae-bcf71c2d1682/resourceGroups/rgSummit2022/providers/Microsoft.DataFactory/factories/dfSummit2022/pipelineruns/',pipeline().RunId,'/cancel?api-version=2018-06-01')",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"message": "Canceling the pipeline"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"listArray": {
				"type": "array",
				"defaultValue": [
					1,
					-1,
					3
				]
			}
		},
		"annotations": []
	}
}